@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&display=swap'); 
/* @import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
} 

.font-dancing {
  font-family: 'Dancing Script', cursive;
}

.font-sacramento{
  font-family: 'Sacramento', cursive;
}

.font-libre{
  font-family: 'Libre Caslon Display', serif;
}

.font-italiano {
  font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
}

.font-montserrat {
   font-family: "Montserrat", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  font-family: 'Libre Caslon Display', serif;
}

p, h3, span{
   font-family: "Montserrat", sans-serif;
}

.perspective-\[1000px\] {
  perspective: 1000px;
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}


/* ---------- GLASSMORPHISM UTILITIES ---------- */

.simple-dark-card {
  background-color: #0f1115;
  border-radius: 24px;
  border: 1px solid rgba(255, 255, 255, 0.06);

  box-shadow:
    0 12px 30px rgba(0, 0, 0, 0.6),
    inset 0 1px 0 rgba(255, 255, 255, 0.03);

  padding: 1.5rem;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.simple-dark-card:hover {
  transform: translateY(-4px);
  box-shadow:
    0 20px 40px rgba(0, 0, 0, 0.7),
    inset 0 1px 0 rgba(255, 255, 255, 0.05);
}

/* Hide scrollbar utility */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}